{
	"presets": [
		"@babel/preset-env"
	],
	"plugins": [
		["module-resolver", {
      "root": ["./"],
      "alias": {
        "@": "./",
        "@components": "./client/components",
        "@client": "./client",
        "@models": "./server/models",
        "@store": "./client/store",
        "@pages": "./client/pages",
        "@config": "./server/config",
        "@routes": "./server/routes",
        "@controllers": "./server/controllers"
      }
    }]
	]
}